@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-object-position {
  object-position: center -157px;
}

/* sm screen */
@media (min-width: 640px) {
  .theme-object-position {
    object-position: center -233px;
  }
}

/* md screen */
@media (min-width: 768px) {
  .theme-object-position {
    object-position: 55px -56px;
  }
}
/* lg screen */
@media (min-width: 1024px) {
  .theme-object-position {
    object-position: 147px -77px;
  }
}
